body{
    background-color: #1A0129;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    margin: 10vw;
}

#indexTitle{
    color: #c595fa;
    text-align: center;
}

.linkBlock{
    border: solid 5px black;
    margin: 0;
    width: 100%;
}

.linkBlock, a{
    text-decoration: none;
    color: white;
}