body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #1A0129;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 2.5vw;
}

#indexTitle{
    border: solid 5px black;

    color: #c595fa;
    font-size: clamp(1rem, 75vw, 2rem);
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkBlock{
    border: solid 5px black;

    margin: 0;
    font-size: clamp( 1rem, 35vw, 2rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkBlock, a{
    text-decoration: none;
    color: white;
}