body{
    background-color: #1A0129;
    color: white;
    justify-content: center;
}

#indexTitle{
    color: #c595fa;
    text-align: center;
}

.linkBlock, a{
    text-decoration: none;
    color: white;
}